{% extends 'base.html' %}
{% load post_filters %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block direction_toolbar %}
    <a href="javascript:history.back()">/posts</a>
    <u>/detail</u>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8" id="title">
                <h1 class="font-weight-light">{{ post.title }}</h1>
            </div>
            <div class="col-lg-8" id="post-info">
                <p class="font-weight-light text-muted">{{ post.author }} publish at {{ post.published_time|date:'Y/m/d, H:i' }}</p>
            </div>
            <div class="col-lg-8" id="post-content">
                <p class="font-weight-light">{{ post.content|linebreaksbr|safe }}</p>
            </div>
            <div class="col-lg-8" id="post-tags">
                {% for tag in post.tags.all %}
                    <a href="{% url 'tag_posts' tag.slug %}" class="mr-2">#{{ tag }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="row pt-4 pb-4">
            <div class="col-sm-12 col-md-6">
                <ul style="font-size: 20px">
                    {% if author_related_posts %}
                        <i>Other posts by {{ post.author }}</i>
                        {% for related_post in author_related_posts %}
                            <li><a href="{% url 'post_detail' related_post.pk %}" class="text-primary">{{ related_post.title }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="col-sm-12 col-md-6">
                <ul style="font-size: 20px">
                    {% if tag_related_posts %}
                        <i>Related posts</i>
                        {% for related_post in tag_related_posts %}
                            <li><a href="{% url 'post_detail' related_post.pk %}" class="text-primary">{{ related_post.title }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="row border-top">
            <div class="col-sm-12 col-md-8 pt-4 pb-4">
                <div class="m-5 text-center">
                    <i>Board </i>
                    <i class="text-muted">
                        {{ post.comment_set.count }} comment{{ post.comment_set.count|pluralize }} in this post
                    </i>
                </div>
                {% for comment in post.comment_set.all %}
                    <div>
                        <B>{{ comment.email|hide_mail }}</B>
                        <i class="text-muted">{{ comment.published_time }}</i>
                        <p>{{ comment.content|linebreaksbr|safe }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-12 col-md-8 border-top">
                <div class="m-5 text-center">
                    <i>Leave a comment</i><br>
                    <i class="text-muted">Your email address will be hided.</i>
                </div>
                <div>
                    <form action="{% url 'post_comment' post.pk %}" method="POST">
                        {% csrf_token %}
                        {{ comment_form }}
                        <button type="submit" class="btn btn-light">Publish</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        /*br{
            margin-top: 10px;
        }*/
        #post-content p{
            line-height: 150%;
            font-size: 24px;
            font-weight: 200 !important;
        }
    </style>
{% endblock %}
