{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block direction_toolbar %}
    <u>/sign up</u>
{% endblock %}

{% block main %}
    <div class="container">
        <form method="post" class="row border rounded pb-4" style="align-items: center; height: 25rem">
            {% csrf_token %}
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="input-group mb-3 mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img src="{% static 'image/user.png' %}" width="15px">
                        </span>
                    </div>
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img src="{% static 'image/gender.png' %}" width="15px">
                        </span>
                    </div>
                    {{ form.gender }}
                    {{ form.gender.errors }}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img src="{% static 'image/phone-call.png' %}" width="15px">
                        </span>
                    </div>
                    {{ form.phone }}
                    {{ form.phone.errors }}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img src="{% static 'image/clock.png' %}" width="15px">
                        </span>
                    </div>
                    {{ form.birthday }}
                    {{ form.birthday.errors }}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img src="{% static 'image/key.png' %}" width="15px">
                        </span>
                    </div>
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img src="{% static 'image/tick-inside-circle.png' %}" width="15px">
                        </span>
                    </div>
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                <button type="submit" class="btn badge-pill btn-primary m-4 pl-4 pt-2 pr-4 pb-2">Sign Up</button>
                <div class="text-secondary">Have an account？<a href="{% url 'login' %}">login</a></div>
            </div>
        </form>
    </div>
{% endblock %}