{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block main %}
    <div class="container-fluid" id="intro-concept" style="height: 40rem">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <h1 class="text-dark">Welcome to my Blog Platform</h1>
                <p>It is a platform that develop for everyone to record themselves.
                    No matter your personal information, your thinking or just for emotional expression.
                    All things you can do more than you imagination.</p>
                <div class="text-sm-left text-lg-right">
                    <button type="button" class="btn btn-primary">Let's get it</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <img src="{% static 'image/index/files.png' %}" width="100%">
            </div>
        </div>
    </div>

    <div class="container mb-2" id="items-intro">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="border rounded text-center">
                    <img src="{% static 'image/index/24-hours.png' %}">
                    <h4>Time</h4>
                    <p>
                        When you would like to use platform, you can use anytime, everywhere.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="border rounded text-center">
                    <img src="{% static 'image/index/folders.png' %}">
                    <h4>Information</h4>
                    <p>
                        All information about your self you can record them, store them and separate them.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="border rounded text-center">
                    <img src="{% static 'image/index/head.png' %}">
                    <h4>Thinking</h4>
                    <p>
                        All your thinking you can write it down or share if you have internet.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <style>
        #intro-concept div{
            align-items: center;
        }
        #items-intro div{
            align-items: center;
        }
    </style>
{% endblock %}