<div id="prompt_message_bar" class="text-center">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div id="prompt_message" class="card my-4 text-center alert-success prompt">{{ message }}</div>
            {% elif message.tags == 'warning' %}
                <div id="prompt_message" class="card my-4 text-center alert-warning prompt">{{ message }}</div>
            {% elif message.tags == 'error' %}
                <div id="prompt_message" class="card my-4 text-center alert-danger prompt">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<style type="text/css">
    #prompt_message_bar{
        position: fixed;
        left: 20%;
        width: 60%;
        z-index: 9999;
    }
</style>
<script type="text/javascript">
    setTimeout(function(){
        $('.prompt_message').hide()
    }, 5000)
</script>