{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Post{% endblock %}

{% block direction_toolbar %}
    {% if form.instance.status == status.Saved.value.0 %}
    <a href="{% url 'my_drafts' %}">/posts</a>
    {% elif form.instance.status == status.Published.value.0 %}
    <a href="{% url 'my_public' %}">/posts</a>
    {% endif %}
    <u>/edit</u>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    {{ form.title }}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    {{ form.content }}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-light">
                    <img src="{% static 'icons/tag.png' %}">
                    Pick up tags
                    {{ form.tags }}
                </div>

                {% if form.instance.status == status.Saved.value.0 %}
                <button type="submit" class="btn btn-outline-success">Save</button>
                <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{% url 'post_publish' post.pk %}'">Publish</button>
                {% elif form.instance.status == status.Published.value.0 %}
                <button type="submit" class="btn btn-outline-success">Save and publish</button>
                {% endif %}
                <button type="button" class="btn btn-outline-danger" onclick="window.location.href='{% url 'post_delete' post.pk %}'">Delete</button>
                <button type="button" class="btn btn-outline-secondary" onclick="history.back()">Cancel</button>
            </form>
        </div>
    </div>
    <style type="text/css">
        textarea:focus, input:focus{
            outline: none;
        }
        textarea{
            resize: none;
        }
        li{
            display: inline;
        }
        img{
            width: 12px;
        }
    </style>
    <script type="text/javascript">
        window.onload=textarea_adjust();
        function textarea_adjust(){
            var textarea=document.getElementById("id_content");
            textarea.cols=document.body.clientWidth;
            var adjustedHeight=textarea.clientHeight;
            adjustedHeight=Math.max(textarea.scrollHeight,adjustedHeight);
            if (adjustedHeight>textarea.clientHeight){
                textarea.style.height=adjustedHeight+'px';
            }
        }
    </script>
{% endblock %}